
#main-content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
    #main-content .article,
    #main-content .title-image{
       text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }
    #main-content .title-image img{
        width: 100%;
    }
    
.lines{
    width: 900px;
    background:white;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.article{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-align: left;
}
.color
{
font-size: 15px;
color: #545454;
text-align: justify;
}
.beginning{
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 10px;
margin-left: calc((100% - 600px) / 2);
margin-right: 0;
width: 600px;
}
.beginning button{
    width: 80px;
    height: 30px;
    color: black;
    transition: all .2s;
}
#beginning .beginning-button:hover{
    background-color: transparent;
    border: 1px solid white;
}


.navbar{
  height:50px;  
  width: 100%;
  display: flex;
  contain: center;
  justify-items:auto;
  justify-content:space-between;
  align-content:space-around;
  border-bottom: 1px solid #D1D1D1;
  position:fixed;
  top: 0;
  margin-bottom: 100px;
  background-color: white;
}

.menu-button{
    border: transparent;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    margin-left: 50px;
    width: .5rem;
    background-color:transparent;
    color: transparent;
}



.search-button{
    border: transparent;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    margin-left: 50px;
    width: 5px;
    background-color:transparent;
    color: transparent;
}

.search-button button{
    background-color: transparent;
    width: 90px;
    margin-top:10px;
    margin-bottom: 20px;
    border: transparent;
}

.menu-button button{
    background-color: transparent;
    width: 90px;
    margin-top:10px;
    margin-bottom: 20px;
    border: transparent;
}

.cosmo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    align-items:center;
    margin-left: 50px;
    width: 5px;    
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
   
}

.space{

    margin-top: auto;
    margin-bottom: 50px;
    display:flex;
    width: 250px;
    height: 50px;
    justify-content: flex-start;
  
   
}

.NYT img{
    width: 270px;
    justify-content:center;
    justify-items:center;   
}
.NYT {
    margin-top: auto;
    margin-bottom:auto;
    width: 30%;
    height: 50px;
    justify-content:center;
    display: flex;    
}

.texto {
    width: 300px;
    font-weight: bold;
   
}

.author{
    font-size: 15px;
    font-weight:bold;
    width: 60%;
    text-align: left;
    margin-top:20px;
    margin-left: calc((100% - 600px) / 2);
    margin-right:0;
}

.date{
    font-size: 15px;
    font-weight: 10px;
    text-align: left;
    width: 60%;
    margin-top: 20px;
    margin-left: calc((100% - 600px) / 2);
    margin-right:0;
}
.buttons{
    margin-top:auto;
    margin-bottom: 50px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  
}
.buttons button{
    border: 0;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: white;
    background-color: #567b95;
    border: 1px solid #326891;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.line{
    width: 100%;
    height: 1px;
    background:#ccc;
}

.title-article{
    margin-bottom: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px;
    margin-top: 100px;

}

.article{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px;
   }

#social-media{
    margin: 1rem auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
    #social-media .social-button{
        border: 0;
        cursor: pointer;
        background-color: lightgray;
        background-size: 1.5rem auto;
        transition: all .2s;
    }
    #social-media .social-button:hover{
        background-color: transparent;
        border: 1px solid lightgray;
    }

.Facebook{
    background: #ccc;
    background-image: url(Images/facebook.png);
    background-size: 2rem auto;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    outline: none;
    
}

.Whatsapp {
    background: #ccc;
    background-image: url(Images/whatsapp.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Twitter {
    background: #ccc;
    background-image: url(Images/twitter.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Email{
    background-image: url(Images/email.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Share{
    background-image: url(Images/share.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

#social-media .Guardar{
    background-image: url(Images/guardar.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: transparent;

}

#social-media .Comentarios{
    background-image: url(Images/comentarios.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    border-image-width: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: transparent;
}
.columns img{
    max-width: 100%;   
}
.columns{
    box-sizing: border-box;
    color: #444;
    float:right;
    padding: 1em;
  
    width: 25%;
    
}
.universe{
    display: flex;
    flex-wrap: wrap;
}
.video{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px;
}
.coloor{
font-size: 15px;
color: #545454;
text-align: left;
margin-left: calc((100% - 600px) / 2);
margin-right: 200px;
width: 600px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    font-size: .8rem;
}
.basic{
    font-size: 1.5rem;
}

.spirals{
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px;
}

.last-paragraphs{
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px;
}

.end{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #A0A0A0;
    text-align: left;
    margin-left: calc((100% - 600px) / 2);
    margin-right: 200px;
    width: 600px; 
}

